<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css"/>
    </head>
    <body>

        <main>
            <section class="wrap">
                <div class = "card">
                    <div class = "card-content">
                        <h1>My Website</h1>
                        <p>this is my card</p>
                        <a href="/hello/Danica"> Hi Danica</a>
                    </div>
                    
                </div>
            </section>

        </main>
        
    </body>
</html>